* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nome {

    font-family: "Libertinus Serif", serif;

}

.navbar {
    width: 100%;
    background-color: #8b73ff;
    padding: 20px 0;
    margin-bottom: 30px;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
}

.nav-items a {
    text-decoration: none;
    color: white;
    font-family: "Libertinus Serif", serif;
    font-size: 25px;
}
.nav-item {
    
}
.logo-nav {
    width: 100px;
    border-radius: 50%;
    margin-left:
}